.container {
  background-color: #E9E9EF;
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  padding: 3%;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 3%;
}
