.savebtn {
  font-size: 1.3vw;
  font-weight: bold;;
  font-family: sans-serif;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  white-space: nowrap;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  position: absolute;
  left: 0;
}
