.SavedNote-labeltype {
    background-color: white;
    width: 100%;
    margin: 2% 0%;
    font-size: 1.2vw;
    padding: 0.5vw;
    box-sizing: border-box;
    border: 1px solid #757575;
    border-radius: 2px;
    height: 100px;
    resize: none;
}
